.background{
}

.section1{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
}

.h1{
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -90px;
  padding: 10px;
  
}

.image{
  position: relative;
  left: -1%;
  top: 10px;
  transform: translate(-20%,-10%);
  width: 80%;
  height: 80%;
  border-radius: 10px;

}

.textTile{
  position: relative;
  left: 45%;
  top: -100px;
  transform: translateX(150px);
  background:rgba(248, 248, 248, 0.452);
  backdrop-filter: blur(5px);
  width: 370px;
  border-radius: 10px;
  padding: 10px;
}

.h2_1{
  display: flex;
  flex-wrap: wrap;
  
}

.p_1{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

/**********************************************************************************/

.section2{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2{

}

.h1_2{
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -90px;
  padding: 10px;
  transform: translateX(250px);
}
.demo2{

}

.image2{
  position: relative;
  left: -1%;
  top: 10px;
  transform: translate(55%,-10%);
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

.textTile2{
  position: relative;
  left: -20%;
  top: -30px;
  transform: translateX(100px);
  background:rgba(248, 248, 248, 0.452);
  backdrop-filter: blur(5px);
  width: 370px;
  border-radius: 10px;
  padding: 10px;
}

.h2_2{

}


.p_2{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}




/**********************************************************************************/

.section3{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content3{

}

.h1_3{
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -90px;
  padding: 10px;
}

.allFeature{
  display: flex;
  align-items: center;
  position: relative;
  top: 150px;

}

.innner_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image3{

}

.textTile3{
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2_3{
  
}

.p3{
  width: 200px;
}
