.background{
  /* background: linear-gradient(to right, rgb(243, 186, 100), rgba(238, 196, 134, 0.479)); */
  /* position: relative; */
  z-index: -10;
  overflow: hidden;
}

/**********************************************************/
.section1{
  display: block;
  height: 100vh;
  width: 100vw;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.h1{
  font-size: 3rem;
  color: white;
  padding: 80px;
  position: relative;
}

.image{
  display: inline-block;
  position: relative;
  right: 30%;
  border-radius: 10px;
}


.textTile{
  position: absolute;
  display: inline;
  width: 20%;
  z-index: 10;
  padding: 15px;
  bottom: 17%;
  right: 28%;
  transform: translate(330px,150px);
  box-sizing: 300px;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  overflow-y: auto;

}


/**********************************************************/

.section2{
  display: block;
  height: 100vh;
  width: 100%;
}

.content2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.demo2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image2{
  display: block;
  position: relative;
  left: 75%;
  border-radius: 10px;
}

.textTile2{
  position: relative;
  display: inline-block;
  width: 20%;
  z-index: 10;
  padding: 15px;
  right: 30%;
  transform: translate(-300px,80px);
}

.h2_2{
  display: block;
}

/**********************************************************/

.section3{
  display: block;
  height: 100vh;
  width: 100vw;
}

.content3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1_3{
  font-size: 3rem;
  color: white;
  padding: 80px;

}

.allFeature{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.innner_content{
  display: block;
  margin: 60px;
}

.image3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.textTile3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h2_3{
  font-size: 25px;
}

.p3{
  width: 200px;

}

