.menu{
    height: auto;
    width: 100vw;
    padding: 10px 10px 0px 0px;
    margin: auto;
    background-color: rgba(255, 208, 106, 0.103);
    display: flex;
    justify-content: flex-end;
    position: fixed;


}


.li{
    width: 100%;
    height: auto;
    padding: 0px 15px 0px 15px;
    margin: 0 0px 0 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 17px;
    color: #333;
    font-weight: 600;



    /*アニメーション*/
    top: 0;
    position: relative;
    text-shadow: 1px 0 10px #FC0;
    list-style: none;
    transition: 0.3s;

}

.li:hover{
    top: -5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.a{
    line-height: 50px;
    color: inherit;
    text-decoration: none;
    
}

.icon{
    flex: 30%;
    padding: 10px 10px 0 0;
    margin: 0 7px -2px 0;
    width: 30px;
    height: 30px;
}