.menu{
    height: 100vh;
    width: 230px;
    padding: 10px 10px 0 10px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.ul{

}

.li{
    width: 100%;
    height: 70px;
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    top: 0;
    position: relative;
    color: #333;
    text-shadow: 1px 0 10px #FC0;
    list-style: none;
    font-size: 20px;
    transition: 0.3s;

}

.li:hover{
    top: -5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.a{
    font-weight: 600;
    flex: 60%;
    line-height: 60px;
}

.icon{
    flex: 30%;
    padding: 10px 10px 0 0;
    margin: 0 20px -5px 0;
    width: 40px;
    height: 40px;
}