.faqParents{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(243, 186, 100), rgba(238, 196, 134, 0.479));
    padding-top: 100px;
    overflow: hidden;
}

@media screen and (max-width:767px){
    .faqParents{
        height: 100%;
        padding-top: 100px;
    }
    
}

.child{
    width: 700px;

}

@media screen and (max-width:767px){
    .child{
        width:80%;
    }
    
}

.grandchild{
    user-select: none;

}

.questionParents{
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 10px;
}


.question{
    padding: 10px;
    color: white;

}


.answerParents{
    display: block;
    background-color: rgba(255, 255, 255, 0.678);
    margin-bottom: 10px;
    padding: 0px 0px 0px 10px;

}

.answerParents2{
    display: block;
    background-color: rgba(255, 255, 255, 0.678);
    margin-bottom: 10px;
    padding: 0px 0px 0px 10px;
    height: 0;
    opacity: 0;

}

.answer{
    padding: 10px;
}

.span{
    font-size: 30px;
    padding-right: 10px;
    color: rgb(238, 196, 134);
}

.span2{
    transition: 0.2s;
    rotate: 45deg;
}

